.nav-bar{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 50px;
    margin-left: 80px;
    margin-right: 50px;
}

.forsort{
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: rgb(53, 28, 28);
    font-family: sans-serif;
    font-weight: bold;
}

.blog{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-family: sans-serif;
}

.navb{
    display: flex;
    gap : 20px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 50px;
}

.buttons{
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(53, 28, 28);
    cursor:pointer;
    font-family: sans-serif;
    font-weight: bold;
}

.buttons:hover{
    border:none;
    border-radius: 5px;
    padding: 10px 20px;
    color : #fff;
    cursor: pointer;
    background-color: red;
    font-family: sans-serif;
    font-weight: bold;
}

.cardcontainer{
    height: 100px;
}

/* .cards{
    gap:20px;
} */
.image-section{

    height: 230px ;
    width: 350px;
    border-radius: 10px;
}
.cardsproto {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.time{
    position: absolute; 
    right: 0px; 
    top : 200px ;
    background-color: rgba(0, 0, 0, 0.8); 
    color : #fff ;
    border-radius: 5px ;
    
}

.authph{
    border-radius: 50px;
    height: 50px ;
    width: 50px;
}

.authortextdiv{
    gap :40px ;
    padding-left: 10px;

}

.name{
    font-weight: bold ;
    font-size: larger;
}

.cardgap{
    padding: 30px;
}

.verifiedbatch{
    
    height: 20px;
    text-align: center;
}